.bundle
db/*.sqlite3
log/*.log
tmp/
.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
config/database.yml
config/*.yml
db/schema.rb
vendor/bundle
public/system/*
coverage/
spec/tmp/*
**.orig
rerun.txt

