.bundle
db/*.sqlite3
log/*.log
log/*.lck
tmp/
.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
config/database.yml
config/deploy.rb
config/unicorn.rb
config/*.yml
db/schema.rb
vendor/bundle
public/system/*
public/video/*
public/thumbnails/*
coverage/
spec/tmp/*
**.orig
rerun.txt
solr/data
solr/pids
pasokara_player_setting.txt
