.bundle
db/*.sqlite3
log/*.log
log/*.lck
tmp/
.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
config/database.yml
config/deploy.rb
config/*.yml
db/schema.rb
vendor/bundle
public/system/*
public/video/*
coverage/
spec/tmp/*
**.orig
rerun.txt
solr/data
pasokara_player_setting.txt
