= javascript_include_tag("throbberA.js")
:javascript
  var throbber;
  function throbber_init() {
    throbber = new ThrobberA({size: 64});
    throbber.show(document.getElementById("throbber"));
  }

  function add_video_tag(id, path) {
    var video = $("<video>").attr("id", "video-" + id).attr("width", 480).attr("height", 320).attr("controls", "controls").attr("src", path);
    $("#video").append(video);
  }

  function check_m3u8(id, path, count) {
    count = count + 1;
    if (count > 10) {
      alert("Video Loading Failed");
      return false;
    }
    $.ajax({
      type: "HEAD",
      url: path,
      success: function(){
        add_video_tag(id, path);
        throbber.hide();
      },
      error: function(){
        setTimeout(function(){check_m3u8(id, path, count)}, 3000);
      }
    })
  }

  $(document).ready(function() {
    throbber_init();
    check_m3u8("#{@pasokara.id}", "#{@movie_path}", 0);
  });

%h1= h @pasokara.name
%span#throbber{:style => "margin-left: 220px;"}
#video

