header { display: block; }

h1#site_title {
  font-family: verdana;
  font-style: bold;
  font-size: 40px;
  color: #FFFFFF;

  span {
    font-size: larger;
    color: #ff6633;
    letter-spacing: -10px;
  }
}

div#user_info {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 20px;
  color: #FFFFFF;

  a {
    color: #FFFFFF;
    text-decoration: underline;
  }
}

div#launch_player {
  margin-left: 10px;
  margin-bottom: 10px;

  a.player {
    font-weight: bold;
    text-decoration: underline;
  }
}

span.login_user {
  margin-right: 10px;
  color: #00ff66;
}


div.search {
  margin-left: 10px;
}

div.all_tag_list {
  margin: 10px;
  padding: 5px;
  border: 2px solid #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  max-width: 1040px;
}

/*
nav ul li {
  display: inline;
  padding: 8px 4px 8px 4px;
}
  */

/***** Menu *****/
ul#menu {
  background: url(../images/menu_bg.png) top left repeat-x;
  bottom: 0;
  height: 49px;
  overflow: hidden;
  max-width: 1040px;

  li {
    background: url(../images/menu_divider.png) right no-repeat;
    display: inline;
    float: left;
    height: 49px;
    width: 110px;

    &#active {
      background: #FFF url(../images/menu_active.png);
      display: block;
    }

    a{
      background: transparent;
      border: 0;
      font-size: 100%;
      margin: 0;
      outline: 0;
      padding: 0;
      text-decoration: none;
      vertical-align: baseline;
    }
  }
}

/***** Button text position *****/
@mixin button-top-padding {
  padding-top: 17px;
}

/***** Button effects *****/
@mixin button-effect {
  color: #CFCFCF;
  display: block;
  font-size: 120%;
  font-weight: bold;
  height: 49px;
  text-transform: uppercase;
}

ul#menu li a {
  @include button-top-padding;
  @include button-effect;

  &#home {
    padding-left: 25px;
  }
  &#queue {
    padding-left: 18px;
  }
  &#history {
    padding-left: 28px;
  }
  &#favorite {
    padding-left: 10px;
  }
  &#user_edit {
    padding-left: 20px;
  }
  &#usage {
    padding-left: 28px;
  }
  &#launch {
    padding-left: 20px;
  }


  &:hover {
    color: #FFF;
    text-decoration: none;
  }
  &.active_btn {
    color: #4E4E4E;
  }
}

footer {
  display: block;
  padding-left: 20px;
  padding-bottom: 10px;
}
