body { 
  background-image: url(../images/sitebg.jpg);
  color: #333; 
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   16px;
  line-height: 20px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}


ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

label {
  font-weight: bold;
}

.notification {
  border: 2px solid #32CD32;
  max-width: 1040px;
  background-color: #ADFF2F;
  margin-top: 20px;
  padding-top: 4px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 4px;
}

.error_notification {
  border: 2px solid #B22222;
  max-width: 1040px;
  background-color: #FFC0CB;
  margin-top: 20px;
  padding-top: 4px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 4px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  visibility: hidden;
}

div#main {
  background-color: #EEEEEE;
  max-width: 1040px;
  padding: 0;
  border: 2px solid #333;
  border-top: 0px;
  -moz-box-shadow: 6px 6px 6px #666666;
  -webkit-box-shadow: 6px 6px 6px #666666;
}

div.usage {
  padding-left: 10px;
  padding-bottom: 30px;
}
div.usage p{
  margin-bottom: 60px;
}
div.usage img {
  border: 4px solid #a00;
}
div.login {
  padding-left: 10px;
  padding-bottom: 30px;
}
div.dl_feed {
  padding-left: 10px;
  padding-bottom: 30px;
}

table#dl_feed_table tr.even{
  background-color: #BBBBEE;
}
table#dl_feed_table th,td {
  padding: 8px;
}

article {
  padding-left: 10px;
}
