%nav
  = render :partial => "layouts/navi_bar"
%br
= render :partial => "layouts/solr_search_form"
- unless @no_tag_load || @header_tags.nil?
  = render :partial => "layouts/header_tag_list", :locals => {:tags => @header_tags}
%hr
